
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: inherit;}
img {color: transparent; font-size: 0; border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #333;
  color: #fff;
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
p {
  text-align: center;
  margin: 5px;
}
canvas {
  float: left;
  margin: 5px 10px;
}
#buttons > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6px;
}
p.script {
  white-space: pre;
  text-align: left;
}
#error {
  color: red;
}
ul#turtleFns {
  list-style: none;
}
#turtleFns > li > span {
  border: 2px solid green;
  display: inline-block;
  vertical-align: top;
  min-width: 1.5em;
  min-height: 1em;
  padding: 0 1px;
  margin: 5px;
}